<div class="container-fluid py-2">
  <div class="row">
    <div class="col-lg-9">
      <h6>SOLUTIONS</h6>
      <hr class="my-2">
      <div class="row">
        <div class="col-md-4">
          <h6>Consulting</h6>
          <ul class="small">
            <li><a routerLink="solutions">Strategic Planning and Delivery for Corporate Growth</a></li>
            <li><a routerLink="solutions">Compliance Consulting</a></li>
            <li><a routerLink="solutions">Procurement Management</a></li>
            <li><a routerLink="solutions">Proposal Development and Review</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h6>Systems</h6>
          <ul class="small">
            <li><a routerLink="solutions">Computing Utilization and Procurement</a></li>
            <li><a routerLink="solutions">Technology Innovation Expansion</a></li>
            <li><a routerLink="solutions">Solution Design, Localization, and Delivery</a></li>
            <li><a routerLink="solutions">Cyber Security Solution Realization</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h6>Talent</h6>
          <ul class="small">
            <li><a routerLink="solutions">International and Domestic Executive / Key Personnel Outsourcing</a></li>
            <li><a routerLink="solutions">Personnel and Talent Acquisition</a></li>
            <li><a routerLink="solutions">Resourcing for Rapid Ramp Engagements</a></li>
            <li><a routerLink="solutions">Supporting the Employment of the Global Disabled Community in Partnership with Source America and Others</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <h6>CONTACT INFORMATION</h6>
      <hr class="my-2">
      <div class="row small">
        <div class="col-2 text-right">
          <i class="fa fa-fw fa-phone"></i>
        </div>
        <div class="col-10">
          <a href="tel:+1-571-527-4935">+1-571-527-4935</a>
        </div>
        <div class="col-2 text-right">
          <i class="fa fa-fw fa-envelope-o"></i>
        </div>
        <div class="col-10">
          <a href="mailto:info@solaiya.com">info@solaiya.com</a>
        </div>
        <div class="col-2 text-right">
          <i class="fa fa-fw fa-map-marker"></i>
        </div>
        <div class="col-10">
          664 A South Military Trail
          <br> Deerfield Beach, FL 33442
        </div>
      </div>
    </div>
  </div>
</div>
<div class="p-3">
  <div class="row align-items-center w-100">
    <div class="col-12 text-center">
      &copy; 2017-{{ currentYear }} SOLAIYA | All Rights Reserved
    </div>
  </div>
</div>
