<h3>{{ header }}</h3>
<div class="row">
  <div class="col-lg-4">
    <div class="border">
      <div class="row align-items-center bg-info text-white py-2 m-0">
        <div class="col-5">
          <i class="fa fa-fw fa-line-chart fa-2x"></i>
        </div>
        <div class="col-7">
          <h3 class="mb-0 text-right">Consulting</h3>
        </div>
      </div>
      <div class="row p-2"
           style="min-height: 250px;">
        <div class="col-12">
          <ul>
            <li>Strategic Planning and Delivery for Corporate Growth</li>
            <li>Compliance Consulting</li>
            <li>Procurement Management</li>
            <li>Proposal Development and Review</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="border">
      <div class="row align-items-center bg-info text-white py-2 m-0">
        <div class="col-5">
          <i class="fa fa-fw fa-server fa-2x"></i>
        </div>
        <div class="col-7">
          <h3 class="mb-0 text-right">Systems</h3>
        </div>
      </div>
      <div class="row p-2"
           style="min-height: 250px;">
        <div class="col-12">
          <ul>
            <li>Computing Utilization and Procurement</li>
            <li>Technology Innovation Expansion</li>
            <li>Solution Design, Localization, and Delivery</li>
            <li>Cyber Security Solution Realization</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="border">
      <div class="row align-items-center bg-info text-white py-2 m-0">
        <div class="col-5">
          <i class="fa fa-fw fa-diamond fa-2x"></i>
        </div>
        <div class="col-7">
          <h3 class="mb-0 text-right">Talent</h3>
        </div>
      </div>
      <div class="row p-2"
           style="min-height: 250px;">
        <div class="col-12">
          <ul>
            <li>International and Domestic Executive / Key Personnel Outsourcing</li>
            <li>Personnel and Talent Acquisition</li>
            <li>Resourcing for Rapid Ramp Engagements</li>
            <li>Supporting the Employment of the Global Disabled Community in Partnership with Source America and Others</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
